/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:15 PM
    Author     : Benito
*/

#banner {
    background-image: url("../data/japaneseart.jpg");
    background-size: 100% 100%;
    color: #990033;
    border-style: solid;
    border-color: brown;
    border-radius: 20px;
}

body {
    background-color: bisque;
}

p {
    color: red;
}

nav {
    border-style: solid;
    border-color: black;
    border-right-color: transparent;
}

a.nav:link, a.nav:visited {
    color: #FFFFFF;
    background-color: #000099;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav:hover, a.nav:active {
    background-color: #CC33FF;
}