/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:35 PM
    Author     : Benito
*/

#banner {
    padding-top: 80px;
    padding-bottom: 20px;
}

div {
    float: left;
}

#col2 {
    position: relative;
    left: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

nav li {
    width: 20%;
    list-style-type: none;
    display: inline;
    text-align: center;
}

a.nav:link, a.nav:visited {
    display: block;
    text-align: center;
    padding: 15px;
    display: inline;
}