/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:35 PM
    Author     : Benito
*/

#banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    display: block;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.content {
    background-color: blanchedalmond;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}