/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 5:50:03 PM
    Author     : Benito
*/

body {
    font-family: 'Lobster', cursive;
}

#banner {
    font-size: 13px;
}
