/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:15 PM
    Author     : Benito
*/

#banner {
    color: red;
    background-image: url(../data/watchmen.jpg);
}

p {
    color: red;
}

li {
    list-style-type: none;
}

a:link, a:visited {
    color: #FFFFFF;
    background-color: #FF3399;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #993366;
}