/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 5:48:41 PM
    Author     : Benito
*/

body {
    font-family: 'Indie Flower', cursive;
}

nav li {
    font-weight: bold;
}

#navigate {
    font-weight: normal;
}