/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:35 PM
    Author     : Benito
*/

div {
    position: fixed; 
    width: 500px;
    left: 50%;
    margin-top: 40px;
    margin-left: -250px;
    padding: 30px;
}

nav {
    padding: 0 20px;
    position: absolute;
    display: inline-table;
    text-align: center;
}

nav li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

#navigate {
    display: block;
}

#navigate:hover ul li {
    display:block;
}

nav:hover li {
    display: block;
}

a:link, a:visited {
    display: block;
    width: 120px;
    padding: 4px;
}