/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:15 PM
    Author     : Benito
*/

body {
    background-image: url("../data/jungle.jpg");
}

div {
    background-color: white;
}

nav li:hover {
    border-style: solid;
    border-color: lime;
}

#banner {
    background-image: url("../data/treebanner.jpg");
}

nav {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 10px;  
	list-style: none;
}


a:link, a:visited {
    text-decoration: none;
}