/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:35 PM
    Author     : Benito
*/

body {
    margin: 0;
}

div {
    text-align: center;
    position: absolute;
    top: 75px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
    height: 75px;
}

nav ul {
    display: table-row;
}

a:link, a:visited {
    display: block;
    text-align: center;
    padding: 20px;
    display: inline;
    position: relative; 
    left: 50px;
}

a:hover, a:active {
    padding: 20px;
}

nav li {
    display: table-cell;
    margin: 0;
    text-align: center;
}