/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:15 PM
    Author     : Benito
*/

div {
    background-image: url(../data/milkyway.jpg);
    background-size: 100% 100%;
}

p {
    color: red;
}

nav li {
    list-style-type: none;
}

nav {
    background: darkgray; 
    background: linear-gradient(left, darkgray 40%, #33CCFF 100%);  
    background: -moz-linear-gradient(left, darkgray 40%, #33CCFF 100%); 
    background: -webkit-linear-gradient(left, darkgray 40%,#33CCFF 100%); 
}

a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    color: #FF00FF;
}