/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:15 PM
    Author     : Benito
*/

#banner {
    background-image: url("../data/banner.png");
}

#header {
    color: white;
}

body {
    background-color: #666699;
}

nav {
    border-style: solid;
    border-color: #3333CC;
}

ul {
    border-color: #3333CC;
}

li {
    list-style-type: none;
    border-style: solid;
    border-color: #3333CC;
}

a.nav:link, a.nav:visited {
    color: #FFFFFF;
    background-color: #CC0000;
    text-decoration: none;
    //text-transform: uppercase;
    border-color: #3333CC;
}

a.nav:hover, a.nav:active {
    background-color: #990033;
}