/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 8:15:35 PM
    Author     : Benito
*/

body {
    margin: 0;
    padding: 0;
}

nav {
    margin-right: 20px;
    padding: 0;
    margin: 0;
    width: min-content;
    display: block;
    //margin-top: 197px;
    //float: left;
    position: fixed;
}

nav ul {
    margin: 0;
    padding: 0;
}

a.nav:link, a.nav:visited {
    display: block;
    text-align: center;
    padding: 20px;
}

#homecontent {
    margin-top: 197px;
    margin-left: 200px;
    padding-bottom: 2000px;
}

p {
     text-indent: 50px;
}

h2 {
     text-indent: 50px;
     padding-top: 20px;
     margin-top: 20px;
}

h3 {
     text-indent: 50px;
}

#banner {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 197px;
    overflow: hidden;
}
