/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 5:48:28 PM
    Author     : Benito
*/

body {
    font-family: 'Shadows Into Light', cursive;
}

nav {
    font-weight: bold;
    letter-spacing: 2px;
}

#header {
    font-size: 30px;
}